<div class="fixed top-5 right-5 z-50 flex flex-col gap-3 w-full max-w-xs">
  @for (toast of toasts(); track toast.id) {
    <div
    [class]="
        'flex items-center gap-3 p-4 rounded-xl shadow-card-0 border-l-4 animate-toast' +
        ' ' +
        (toast.leaving ? 'animate-toast-in' : 'animate-toast-out') +
        ' ' +
        getVariantClasses(toast.variant)
      "
      role="alert"
    >
      <div class="text-xl flex-shrink-0">
        <fa-icon [icon]="toast.icon"></fa-icon>
      </div>

      <div class="flex-1 text-sm font-medium">
        {{ toast.title }}
        @if(toast.message) {
          <span class="text-xs font-normal text-black/70 block mt-1">
            {{ toast.message }}
          </span>
        }
      </div>

      <button
        (click)="toastService.remove(toast.id)"
        class="ml-2 text-current opacity-70 hover:opacity-100 transition-opacity"
      >
        <fa-icon [icon]="'faClose'"></fa-icon>
      </button>
    </div>
  }
</div>
