<div class="w-full flex gap-x-5 gap-y-10">
  <app-card class="w-2/3">
    <h2 class="text-xl font-semibold">Gestión de formularios</h2>
    <!-- Filters -->
    <div class="">
      filtros
    </div>
    <!-- Table -->
    <app-table
      styles=""
      [columns]="columns"
      [data]="items()"
      [config]="tableConfig"
      [rowActions]="rowActions"
      (rowAction)="onRowAction($event)"
      (rowSelected)="itemView = $event!"
    />
  </app-card>

  <app-card class="w-1/3">
    <h2 class="text-xl font-semibold mb-2">Datos del formulario</h2>
    <app-details-list-page [row]="itemView"></app-details-list-page>
    
  </app-card>
</div>
