<div
  class="h-dvh w-screen bg-[url('/assets/images/background-red.png')] bg-no-repeat bg-center bg-cover bg-custom-bg-100"
>
  <div class="flex w-full h-screen py-2.5 overflow-hidden">
    <!-- Menu sidebar -->
    <app-side-bar class="h-full w-1/6 max-w-80" />
    <div class="flex flex-col flex-1 min-w-0 px-5 pt-7.5">
      <!-- Top bar -->
      <app-top-bar />

      <!-- Content -->
      <main class="flex-1 overflow-y-auto w-full">
        <router-outlet />
      </main>
    </div>
  </div>
</div>
