<div class="w-full flex gap-5">
  <div class="w-full flex flex-col gap-5">
    <app-card class="w-full" size="sm">
        <h1 class="font-semibold text-lg text-primary-red-500">Gestión de usuarios</h1>

        <app-skeleton [isLoading]="tableLoading" type="list" [count]="5">
          <app-table [columns]="columns" [data]="items()" [rowActions]="rowActions"></app-table>
        </app-skeleton>

        <!-- <app-table [columns]="columns" [data]="data"></app-table> -->
    </app-card>
  </div>
  <app-card class="min-w-0 flex flex-1" size="sm"> 
    <!-- max-h-100 sticky top-0 -->
    <!-- @if (form$(); as f) {} -->
  </app-card>
</div>
