<div class="w-full flex gap-5">
  <!-- <app-card class="h-full w-1/5">Versiones</app-card> -->
  <app-card class="min-w-0 max-h-100 sticky top-0 flex flex-1" size="sm">
    @if (form$(); as f) {
      @if(f.versions?.length && idVersion){
      <app-view-version-list [versionActive]="idVersion" [versions]="getVersions" (versionSelected)="onVersionSelected($event)"></app-view-version-list>
      }
    }
  </app-card>
  <div class="w-4/5 flex flex-col gap-5">
    <app-card class="w-full" size="sm">
      <app-datails-form [form]="form"></app-datails-form>
      <!-- Tabs Navigation & content -->
      <app-tabs [tabs]="formTabs"></app-tabs>
    </app-card>
    <!-- <app-card class="w-full"> Envíos del formulario </app-card> -->
  </div>
</div>
