@if(versions){
  @if(versions.length > 0){
    <div class="w-full">
      <table class="w-full text-left">
        <thead>
          <tr class="bg-head-table-bg">
            <th class="py-2">Versión</th>
            <th class="py-2">Fecha</th>
            <th class="py-2">Conteo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of versions; track $index) {
            <tr>
              <td class="py-2">{{item.version}}</td>
              <td class="py-2">{{item.createdAt | date:'yyyy-MM-dd' }}</td>
              <td class="py-2">{{item._count?.submissions}}</td>
              <td class="py-2">
                <button
                  class="bg-gray-400 hover:bg-gray-300 cursor-pointer px-1.5 py-1 rounded-full transition-colors ease-in-out duration-100"
                  (click)="viewVersion(item.id)"
                  >
                  <!-- [routerLink]="`forms/view-schema/${item.id}`"   -->
                  <i class="fa-regular fa-eye" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }@else {

  }

}