# App
PORT=3000 # your_port

# JWT
JWT_SECRET="d-j4*b!0nj@0+(iqi-v$tpu(q6&@xkj2-*7@w_=flw_6n6s6+n"
JWT_EXPIRES_IN="1h"

# DB
DB_HOST=localhost
DB_PORT=5432 # or your_port
DB_USER=#y our_user
DB_PASSWORD=# your_password
DB_NAME=campein_refactor


# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DIRECT_DATABASE_URL="postgresql://<<user>>:<<password>>@localhost:5432/campein_refactor?schema=public"
DATABASE_URL="postgresql://<<user>>:<<password>>@localhost:5432/campein_refactor?schema=public"
