@if (item.children && item.children.length > 0) {
  <li class="flex flex-col">
    <button
      (click)="toggleDropdown()"
      class="w-full py-2.5 px-5 rounded-xl text-white hover:bg-primary-red-600 cursor-pointer transition-colors duration-200 ease-in-out flex items-center justify-between gap-3"
    >
      <div class="flex items-center gap-3">
        @if(item.icon) {
          <i class="{{item.icon}} text-white"></i>
        }
        <span>{{ item.publicName }}</span>
      </div>
      <i class="fa-solid fa-chevron-down text-sm transition-transform duration-200" [class.rotate-180]="isOpen()"></i>
    </button>
    
    @if (isOpen()) {
      <ul class="flex flex-col gap-1 mt-1 pl-9">
        @for (child of item.children; track child.publicName) {
          <li
            class="py-2.5 px-4 rounded-xl text-white hover:bg-primary-red-600 cursor-pointer transition-colors duration-200 ease-in-out flex items-center"
            [routerLink]="child.route"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ child.publicName }}
          </li>
        }
      </ul>
    }
  </li>
} @else {
  <li
    class="py-2.5 px-5 rounded-xl text-white hover:bg-primary-red-600 cursor-pointer transition-colors duration-200 ease-in-out flex items-center gap-3"
    [routerLink]="item.route"
    routerLinkActive="menu-item-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    @if(item.icon) {
      <i class="{{item.icon}} text-white"></i>
    }
    {{ item.publicName }}
  </li>
}