<div class="w-full flex justify-center">
  <app-card class="md:w-full flex flex-col items-center justify-center gap-10">
    
    <div #pageTop></div>
    
    <div *ngIf="loading(); else loaded" class="flex flex-col items-center">
        <p>Cargando formulario...</p>
        </div>

    <ng-template #loaded>
      
      <div *ngIf="error(); else formContent" class="text-red-500">
        {{ error() }}
      </div>

      <ng-template #formContent>
        <img
          src="/assets/logos/logo-campein-red-x2.png"
          alt="Campein"
          class="w-48 h-auto"
        />

        <app-dynamic-form
          *ngIf="formSchema() as schema"
          [schema]="schema"
          (submitted)="handleFormSubmit($event)"
        ></app-dynamic-form>

      </ng-template>
    </ng-template>
  </app-card>
</div>