<div class="w-full">
  <div class="w-full px-4">
    <div class="flex flex-wrap">
      <!-- Columna mapa -->
      <div class="w-full flex justify-center">
        <div class="w-full aspect-video">
          <iframe
            title="Campein Valencia 2022"
            class="w-full h-full"
            src="https://app.powerbi.com/view?r=eyJrIjoiODVjYjkyMWMtM2JmZi00MDc4LWFmMTEtMTkxZWE3ZThkOWI5IiwidCI6Ijc3ZjZhZGYxLWM3ZWQtNDg1Ni05MmZlLTYyOTI4M2M1MGNiYiIsImMiOjR9"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
